* {
  margin: 0;
}
body {
  background-color: #7b8396;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}
.App-main {
  padding-top: 50px;
  max-width: 619px;
}
.App-main-block {
  display: flex;
  justify-content: center;
}
.App-main__calendar {
  margin-top: 50px;
}
.Events-page__wrapper {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 821px) {
  .App-main__form {
    width: 95%;
    padding: 0 20px;
    margin-left: 0;
  }
  .Events-page__wrapper {
    width: 80%;
  }
  .App-main__form .MuiInputBase-root {
    width: 100%;
  }
  .ListOfEvents-Container__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .item__buttons-group {
    display: block;
  }
  .item__Form {
    width: 100%;
  }
  .item__buttons-group {
    margin-top: 20px;
  }
  .item__buttons-group button {
    margin-right: 20px;
  }
  .App-main-block {
    flex-direction: column;
    align-items: center;
  }
  .App-main__form > h3 {
    margin-left: 0;
  }
}
